* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

.main-container {
    display: flex;
    padding: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #C2B489;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.li-content{
    display: flex;
    align-items: center;
}

.li-content img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.content {
    flex: 3;
    padding: 20px;
}

.content h2 {
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
    text-align: justify;
}

.content h4 {
    margin-bottom: 20px;
    font-style: italic;
    font-weight: lighter;
    color: #A89C7C;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}

.grid-container a{
    text-decoration: none;
    color: #333;
}

.grid-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-item h3 {
    margin-top: 15px;
}

.grid-item h4{
    font-style: italic;
    font-weight: lighter;
    color: #A89C7C;
}

.grid-item p {
    margin-top: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
